h1 {
  text-align: center;
  min-height: 1.1rem;
}

body {
  background-color: #F3F8FF;
}

main {
  display: flex;
}

aside {
  min-width: 15rem;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #49108B;
  min-height: 80vh;
  padding: 10px;
  width: 35vw;
  margin: 0 auto;
  /* grid-gap: 0.1rem; */
}

.row {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  /* grid-gap: 0.1rem; */
}

.tile {
  background-color: #E26EE5;
}

.reserve-piece {
  width: 12.5rem;
  min-height: 25vh;
  display: grid;
  margin: 0 auto;
  grid-gap: 0.1rem;
  background-color: red;
}

.first-future-piece {
  width: 12.5rem;
  min-height: 25vh;
  display: grid;
  margin: 1rem 0;
  grid-gap: 0.1rem;
  background-color: red;
}

.second-future-piece {
  width: 12.5rem;
  min-height: 25vh;
  display: grid;
  margin: 1rem 0;
  grid-gap: 0.1rem;
  background-color: red;
}

.third-future-piece {
  width: 12.5rem;
  min-height: 25vh;
  display: grid;
  margin: 1rem 0;
  grid-gap: 0.1rem;
  background-color: red;
}

.side-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.1rem;
  background-color: red;
}

.side-tile {
  background-color: black;
}

.lightblue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.dark-blue {
  background-color: darkblue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.border {
  background-color: #7E30E1;
}